* {
    font-family: sans-serif;
}

html, body {
    background-color: black;
    color: white;
}

main {
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px;
    margin: 10px;
}

h1 {
    width: 100%;
    text-align: center;
}

input {
    padding: 5px;
    font-size: large;
    width: 100px;
}

input[type="number"] {
    text-align: end;
}

input:focus {
    outline-color: teal;
}

button {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: teal;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background-color: darkcyan;
}

noscript {
    display: block;
    text-align: center;
    color: red;
    font-weight: bold;
    border: 2px solid teal;
    padding: 0 5px;
}

label {
    display: inline-block;
    width: 175px;
    text-align: right;
}

section {
    max-width: 500px;
    margin: 0 auto;
}

section > * {
    width: 100%;
}

#btn-setup {
    margin-top: 5px;
    width: 100%;
}

#question {
    font-size: x-large;
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

#results {
    text-align: center;
}

#results > ol {
    list-style: none;
    padding: 0;
}

.r-item {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 5px;
}

.wrong-a {
    margin-left: 5px;
    color: red;
    text-decoration: line-through;
}

.correct-a {
    color: turquoise;
}

#title {
    color: white;
    text-decoration: none;
}


@media (prefers-reduced-motion: no-preference) {
    .r-perfect {
        animation: rainbow 3s linear infinite;
    }
}

@media (prefers-reduced-motion: reduce) {
    .r-perfect {
        color: deeppink;
    }
}


@keyframes rainbow {
    from {
        color: red;
    }
    10% {
        color: orange;
    }
    25% {
        color: yellow;
    }
    40% {
        color: green;
    }
    55% {
        color: lightblue;
    }
    75% {
        color: #7202c5;
    }
    90% {
        color: violet;
    }
    to {
        color: red;
    }
}
